selenium~=3.141.0
pyyaml
robotframework
robotframework-seleniumlibrary
robotframework-sshlibrary
robotframework-jsonlibrary
robotframework-requests
pyopenssl
pyasn1~=0.4.8
ipaddress
pyasn1-modules
paramiko>=2.7.1