{
  "ip_load_balancer": {
    "sensitive": false,
    "type": "string",
    "value": "<IP>"
  },
  "ip_masters": {
    "sensitive": false,
    "type": "list",
    "value": [
      "<IP1>",
      "<IP2>"
    ]
  },
  "ip_workers": {
    "sensitive": false,
    "type": "list",
    "value": [
      "<IP3>",
      "<IP4>"
    ]
  }
}
