*** Variables ***
${CAASP_KEY}      INTERNAL-USE-ONLY-f9c5-17d1
&{VMWARE}         VSPHERE_USER=<user>@jazz.qa.prv.suse.net    VSPHERE_PASSWORD=<password>    VSPHERE_SERVER=jazz.qa.prv.suse.net    VSPHERE_ALLOW_UNVERIFIED_SSL=1
&{OPENSTACK}      OS_AUTH_URL=https://engcloud.prv.suse.net:5000/v3    OS_PROJECT_ID=05394ae447d74bc0b3ed2cca262c9b7c    OS_PROJECT_NAME=container    OS_USER_DOMAIN_NAME=ldap_users    OS_PROJECT_DOMAIN_ID=default    OS_USERNAME=<user>    OS_PASSWORD=<password>    OS_REGION_NAME=CustomRegion    OS_INTERFACE=public    OS_IDENTITY_API_VERSION=3
